/* Main Rules */
/* Font */

/* @font-face {
  font-family: "main font";
  src: url("../fonts/BahijTheSansArabic.ttf");

} */

@font-face {
  font-family: "main font";
  src: url("../fonts/pfdintextuniversal.otf");

}

/* google icon */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


/* global setting */
:root {
  --background-color: #F8F8F8;
  --bg-menu-color: #EFEEEE;
  --red-color: #E2211C;
  --red-color-hover: #830f0b;
  --very-light-gray: #EFEEEE;
  --light-gray: #9EA8A9;
  --light-gray-hover: #c5d1d3;
  --gray-color: #666464;
  --gray-color-hover: #949191;
  --dark-gray-color: #2C2B2B;
  --green-color: ;
  --black-color: #000;
  --menu-bg: #EFEEEE;
  --border-radius: 8px
}

body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  height: 100%;
  background: var(--background-color);
  overflow-x: hidden !important;
  font-family: "main font";
}

#sidebar.dark {
  background-color: var(--dark-gray-color) !important;
}

#sidebar.dark p,
#sidebar.dark h1,
#sidebar.dark h2,
#sidebar.dark h3,
#sidebar.dark h4,
#sidebar.dark h5,
#sidebar.dark h6,
#sidebar.dark .icon,
#sidebar.dark span {
  color: white !important;
}

#sidebar.dark .sidebar-item {
  background-color: #000;
}

.main-content.card.dark {
  background-color: #434343 !important;
}

.main-content.card.dark p,
.main-content.card.dark h1,
.main-content.card.dark h2,
.main-content.card.dark h3,
.main-content.card.dark h4,
.main-content.card.dark h5,
.main-content.card.dark h6,
.main-content.card.dark .icon,
.main-content.card.dark span,
.main-content.card.dark button,
.main-content.card.dark a,
.main-content.card.dark button,
.main-content.card.dark hr {
  color: white !important;
}

.main-content.card.dark .select2-container--default .select2-selection--single,
.main-content.card.dark button,
.main-content.card.dark ul {
  background-color: #000;
  border-color: #000;
}

.main-content.card.dark .card-box {
  background-color: #1d1d1d;
}


*,
:before,
:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

button,
input,
select,
textarea {
  -webkit-tap-highlight-color: rgba(201, 224, 253, 0);
}

a,
button {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a {
  color: var(--black-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

input:focus,
button:focus,
select:focus {
  outline: none;
  box-shadow: none !important;
  border: 1px solid var(--light-gray) !important;
}

input::-webkit-input-placeholder {
  color: var(--light-gray) !important;
  font-family: 'main font', sans-serif;
  font-size: 12px;
}

input::-moz-placeholder {
  color: var(--light-gray) !important;
  font-family: 'main font', sans-serif;
  font-size: 12px;
}

input:-ms-input-placeholder {
  color: var(--light-gray) !important;
  font-family: 'main font', sans-serif;
  font-size: 12px;
}

input::-ms-input-placeholder {
  color: var(--light-gray) !important;
  font-family: 'main font', sans-serif;
  font-size: 12px;
}

input::placeholder {
  color: var(--light-gray) !important;
  font-family: 'main font', sans-serif;
  font-size: 12px;
}

input[type=date] {
  font-size: 12px;
  color: var(--gray-color);
}

*:focus {
  outline: none;

}

.flex-end {
  flex: 1;
  justify-content: end;
}

.container {
  max-width: 767px;
  width: 90%;
  margin: auto;

}

.container-fluid {
  padding: 0;
  max-width: 767px;
  width: 90%;
  margin: auto;
  position: relative;
  height: 100%;

}

.modal-footer {
  padding-top: 0px;
}

.modal-header {
  padding-bottom: 0px;
}

.label {
  color: var(--gray-color);
  font-size: 12px;
}

ul {
  margin-left: 0;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}


h1 {
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}



p {
  font-size: 16px;
  line-height: 30px;
}

.table {
  font-size: 14px;
}

.tbody {
  font-size: 12px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 12px;
}

.select-black .select2-container--default .select2-selection--single {
  border: 1px solid darkgrey !important;
  filter: unset;
}



.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  height: 31px
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 8px;
  padding-left: 20px;
  font-size: 12px;
  padding-top: 4px;
}

.date .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right: 27px;
}


.select2-container--default .select2-results>.select2-results__options {
  max-height: 200px;
  overflow-y: auto;
  font-size: 12px;
}


/* remove arrow of input number *
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;

}

input,
select {
  border-radius: 15px;
  background-color: transparent transparent;
  border: 1px solid var(--light-gray);
}

.form-select {
  background-position: left .75rem center !important;
  padding: .375rem 0.75rem .375rem 2.25rem !important;
}

.card-box {
  background-color: #fff;
  padding: 10px;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  border-radius: 15px;
}

.sm-card-box {
  background-color: #fff;
  padding: 10px 5px;
  border-radius: 8px;
}

.swal2-styled.swal2-cancel {
  color: #646464 !important;
  -webkit-filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
}

form.smart-search {
  cursor: pointer;
}


.loader {
  position: fixed;
  top: 30%;
  left: 50%;
  /* width: 100vw;
    height: 100vb; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F4F8;
}

.loader-hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#mood {
  text-align: right;
  height: 35px;
}

.active {
  color: var(--red-color) !important;
}

.border-active {
  border: 2px solid var(--red-color) !important;

}

textarea {
  font-size: 12px !important;
}

textarea::-webkit-input-placeholder {
  color: gray;
}

textarea::-moz-placeholder {
  color: gray;
}

textarea:-ms-input-placeholder {
  color: gray;
}

textarea::-ms-input-placeholder {
  color: gray;
}

textarea::placeholder {
  color: gray;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.flex-between-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table-responsive .icon {
  color: var(--gray-color);
}

/*label float*/

.input-floating-label {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-floating-label input,
.input-floating-label select {
  font-family: inherit;
  width: 100%;
  display: block;
  border-radius: var(--border-radius);
  outline: 0;
  font-size: 14px;
  color: var(--gray-color);
  padding: 7px 12px;
  /* background: transparent; */
  transition: 0.2s;
}

.input-floating-label input:required,
.input-floating-label input:invalid {
  box-shadow: none;
}

.input-floating-label input::-webkit-input-placeholder {
  color: transparent;
}

.input-floating-label input::-moz-placeholder {
  color: transparent;
}

.input-floating-label input:-ms-input-placeholder {
  color: transparent;
}

.input-floating-label input::-ms-input-placeholder {
  color: transparent;
}

.input-floating-label input::placeholder {
  color: transparent;
}

.input-floating-label input:placeholder-shown {
  border-color: var(--light-gray);

}

.input-floating-label input:placeholder-shown~label {
  font-size: 0.75rem;
  cursor: text;
  /* transform: translatey(19px); */
  padding: 0px 0px;
  color: var(--gray-color);
}


.input-floating-label label {
  position: absolute;
  right: 12px;
  display: block;
  transform: translatey(-10px);
  transition: 0.3s;
  font-size: 0.75rem;
  padding: 0px 0px;
  color: var(--gray-color);
  background: white;
  top: 0;
}

.input-floating-label .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: gray;
}


.btn {
  font-weight: 500;
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  flex: 1;
  border-radius: 9px;
}

button {
  text-wrap: nowrap;
  white-space: nowrap;
}

.btn .icon {
  font-size: 13px;
  width: 12px;
}


.red-btn {
  background: var(--red-color);
  color: white;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(255, 35, 35, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(255, 35, 35, 0.16));
}

.red-btn:hover {
  background: var(--red-color-hover);
  color: white;
}

.transparent-btn {
  background-color: transparent;
}

.white-btn {
  color: var(--dark-gray-color);
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
}

.white-btn:hover {
  color: var(--dark-gray-color);
  background-color: white;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
}

.gray-btn {
  background-color: rgb(239 239 239);
  color: black;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
}

.gray-btn:hover {
  background-color: var(--gray-color-hover);
  color: white;
  -webkit-filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 0px 1.5px rgba(0, 0, 0, 0.16));
}

.icon-btn {
  background-color: transparent;
  color: var(--gray-color);
  border: none;
}

.main-content.card {
  background-color: #F8F8F8 !important;
  min-height: 100vb;
  border-radius: 0;
}

.search-field {
  position: relative;
  width: 100px;
}

.search-field input {
  border: none;
  padding-left: 35px;
  min-width: 100px;
}

.search-field .icon {
  position: absolute;
  top: 10px;
  left: 5px;
  color: var(--gray-color);
}

.t-header {
  background-color: var(--red-color) !important;
  color: white !important;
  text-wrap: nowrap !important;
  white-space: nowrap !important;
  padding: 15px 5px !important;
}

tbody tr td {
  color: var(--gray-color) !important;
}

.table-hover>tbody>tr:hover>* {
  --bs-table-bg-state: rgb(157 17 17 / 8%) !important;
}


/* index */
.background {
  height: 100vb;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
}

.overLay {
  height: 100%;
  width: 100%;
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.18));
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.18));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0.00%, rgb(0 0 0 / 55%) 54.81%, #000000 100.00%)
}

.background .title {
  color: white;
  font-size: 28px !important;
  font-family: "main font, sans-serif" !important;
  font-stretch: extra-expanded;
  text-align: center;
}

.background .content {
  max-width: 550px;
}

.background .content .smart-login .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--very-light-gray);
  text-align: center;
}

.background .content .smart-login .icon .fa-id-card,
.background .content .smart-login .icon .fa-mobile-screen {
  color: var(--red-color);
}

.background .content .smart-login .click {
  font-size: 16px;
  color: var(--red-color);
  text-decoration: underline;
}

.login-box {
  padding: 10px 25px;
}

.login-box .login-icon {
  font-size: 25px !important;
}

#phone-num {
  padding: 7px 10px;
  border-radius: 8px;
  min-width: 100px;
}

#login-btn {
  font-size: 14px;
  text-wrap: nowrap;
  white-space: nowrap;
}

/* end index */

/*start home */


/*start menu */

.home #sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all .25s ease-in-out;
  background-color: var(--menu-bg);
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  border-left: 2px solid var(--color-border);
  align-items: center;
}

.home #sidebar.expand {
  width: 300px;
  min-width: 300px;
  align-items: normal;

}

.home #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  display: none !important;
}

.home #sidebar:not(.expand) .sidebar-logo,
.home #sidebar:not(.expand) .menu-title,
.home #sidebar:not(.expand) .search-bar input,
.home #sidebar:not(.expand) .search-bar .filter,
.home #sidebar:not(.expand) a.sidebar-link span,
.home #sidebar:not(.expand) .sidebar-item .drop-dowm-icon,
.home #sidebar:not(.expand) .sidebar-item #navSearch input,
.home #sidebar:not(.expand) .sidebar-item .date-menu {
  display: none !important;
}

.home .menu-title .fa-city,
.home .menu-title h3 {
  color: #979393 !important;
}


/*start Hamburger Menu */
.home .toggle-btn {
  background-color: transparent;
  text-align: center;
  font-size: 30px;
  border: none !important;
}

svg {
  width: 30px;
}

#top-line,
#bottom-line,
#middle-line {
  transform-box: fill-box;
  transform-origin: center;
}

svg.active {
  #top-line {
    -webkit-animation: down-rotate 0.6s ease-out both;
    animation: down-rotate 0.6s ease-out both;
  }

  #bottom-line {
    -webkit-animation: up-rotate 0.6s ease-out both;
    animation: up-rotate 0.6s ease-out both;
  }

  #middle-line {
    -webkit-animation: hide 0.6s ease-out forwards;
    animation: hide 0.6s ease-out forwards;
  }
}

@-webkit-keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }

  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }

  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}

@keyframes up-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }

  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(-10px);
  }

  100% {
    transform-origin: center;
    transform: translateY(-10px) rotate(45deg) scale(0.9);
  }
}

@-webkit-keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }

  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }

  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}

@keyframes down-rotate {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    animation-timing-function: cubic-bezier(0.16, -0.88, 0.97, 0.53);
    transform: translateY(0px);
  }

  30% {
    transform-origin: center;
    -webkit-animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    transform: translateY(10px);
  }

  100% {
    transform-origin: center;
    transform: translateY(10px) rotate(-45deg) scale(0.9);
  }
}

@-webkit-keyframes hide {
  29% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  29% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*end McButton */

.home #sidebar .sidebar-item a {
  color: var(--gray-color);
}

.home #sidebar .sidebar-item a .icon {
  font-size: 20px;
}

.home #searchList {
  background-color: transparent !important;
}

.home #navSearch {
  background-color: white;
  border-radius: var(--border-radius);
  flex: 1;
}

.home #navSearch input {
  border: 1px solid transparent;
  border-radius: 8px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  /* max-width: 200px; */
}

.home #navSearch input::-webkit-input-placeholder {
  font-size: 0.75rem;
}

.home #navSearch input::-moz-placeholder {
  font-size: 0.75rem;
}

.home #navSearch input:-ms-input-placeholder {
  font-size: 0.75rem;
}

.home #navSearch input::-ms-input-placeholder {
  font-size: 0.75rem;
}

.home #navSearch input::placeholder {
  font-size: 0.75rem;
}

.home #navSearch input:focus {
  box-shadow: none;
}

.home #navSearch #search-icon {
  background: white;
  padding: 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: #626F92;
}

.home .sidebar-item .filter {
  background: white;
  padding: 10px 6px;
  margin-right: 6px;
  border-radius: var(--border-radius);
  color: #626F92;
  border: none;
  width: 40px;
}





.home .search-bar {
  padding: 10px 8px;
}

.home .search-bar .icon {
  color: gray;
}

.home .search-bar .search {
  position: relative;
  flex: 1;
}

.home .search-bar .search>input {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.home .search-bar .search>input::-webkit-input-placeholder {
  font-size: 0.75rem;
}

.home .search-bar .search>input::-moz-placeholder {
  font-size: 0.75rem;
}

.home .search-bar .search>input:-ms-input-placeholder {
  font-size: 0.75rem;
}

.home .search-bar .search>input::-ms-input-placeholder {
  font-size: 0.75rem;
}

.home .search-bar .search>input::placeholder {
  font-size: 0.75rem;
}

.home .search-bar .search>input:focus {
  box-shadow: none;
}

.home .search-bar .search .icon {
  position: absolute;
  top: 50%;
  right: 0%;
  cursor: pointer;
  transform: translateY(-50%);
  background: white;
  padding: 8px;
  margin-right: 6px;
  border-radius: var(--border-radius);
}

/* .home #filter-icon {
    padding: 8px;
    margin-right: 6px;
    border-radius: var(--border-radius);
} */


.home .sidebar-nav {
  padding: 1rem 0;
  flex: 1 1 auto;
}

.home a.sidebar-link {
  position: relative;
  padding: 8px 5px;
  white-space: nowrap;
  border-left: 3px solid transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.home #sidebar:not(.expand) a.sidebar-link {
  justify-content: center;
}

.home .has-dropdown {
  position: relative;
}

.home .drop-dowm-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.home .sidebar-link i {
  font-size: 1.5rem;
  color: var(--inactive-icon-color);
}

.home a.sidebar-link span {
  color: var(--primary-color);
}

.home .sidebar-dropdown {
  border-top: 1px solid var(--color-border);
}

.home .sidebar-dropdown .sidebar-link {
  font-weight: 400;
  font-size: 0.85rem;
}

.home #sidebar li.active {
  border: 1px solid var(--red-color);
}

.home #sidebar li.active * {
  color: var(--red-color);
}

.home .sidebar-item {
  position: relative;
  background: white;
  margin: 5px 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.home #sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: var(--menu-bg);
  padding: 0;
  min-width: 15rem;
  display: none;
}

.home #sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
  display: block;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

.home #sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 .075rem .075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  left: 1.5rem;
  transform: rotate(-135deg);
  transition: all .2s ease-out;
}

.home #sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all .2s ease-out;
}

/*end menu */



/* start main content */
.home .header {
  margin-bottom: 15px;
}

.home .header .title {
  font-weight: 900;
  font-size: 14px;
}

.home .header a {
  color: var(--black-color);
}

.home .header .user {
  gap: 2px;
  flex: 1;
  justify-content: flex-end !important;
}

.home .header .user .lang {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.home .header .user #dropdownlang {
  cursor: pointer;
  width: 45px;
  padding-left: 0px;
  padding-right: 0px;
}

.home .header .user .dropdown-menu {
  min-width: 30px !important;
  padding: 0 0;
  /* transform: translate(76px, 53px) !important; */
}

.home .header .user .user-img {
  width: 30px;
  height: 30px;
  border-radius: var(--border-radius);
  cursor: pointer;
}


.sub-header .manager-btn {
  min-width: 80px;
}

.sub-header .manager-btn::after {
  margin-right: 10px;
}


.sub-header .date-nightMood .date {
  position: relative;
  color: var(--gray-color);
}

.sub-header .date-nightMood .date .icon {
  position: absolute;
  top: 10px;
  right: 0px;
}

.sub-header .date-nightMood .date select {
  font-size: 12px;
  padding-right: 25px !important;
  padding-top: 9px !important;
  border-radius: 8px;
}

.charts .card-chart {
  height: 300px;
}

.doungut1,
.doungut2 {
  position: relative;
}

.doungut1 .dataOne {
  position: absolute;
  top: 20px;
  right: 38px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: var(--red-color);
  outline: 3px solid #F5E8E7;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut1 .dataOne .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
}


.doungut1 .dataOne:after {
  content: '';
  display: block;
  width: 25px;
  height: 0px;
  border: 1px dashed var(--red-color);
  top: 5px;
  position: absolute;
  right: 15px;
}

.doungut1 .dataOne:before {
  content: "";
  width: 54px;
  height: 0px;
  border: 1px dashed var(--red-color);
  transform: rotate(-25deg);
  position: absolute;
  top: 17px;
  right: 38px;
}


.doungut1 .dataTwo {
  position: absolute;
  bottom: 82px;
  left: 50px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: var(--gray-color);
  outline: 3px solid #d6d6d6;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
  transform: rotate(180deg);
}


.doungut1 .dataTwo .data {
  font-size: 12px;
  white-space: nowrap;
  text-wrap: nowrap;
  margin-top: 10px;
  font-weight: bold;
  transform: rotate(-180deg);
}

.doungut1 .dataTwo:after {
  content: '';
  display: block;
  width: 25px;
  height: 0px;
  border: 1px dashed #949191;
  top: 5px;
  position: absolute;
  right: 15px;
}

.doungut1 .dataTwo:before {
  content: "";
  width: 54px;
  height: 0px;
  border: 1px dashed #949191;
  transform: rotate(-25deg);
  position: absolute;
  top: 17px;
  right: 38px;
}

.doungut2 .dataOne,
.doungut2 .dataTwo,
.doungut2 .dataThree,
.doungut2 .dataFour,
.doungut2 .dataFive,
.doungut2 .dataSix {
  position: absolute;
}



/*dataOne*/

.doungut2 .dataOne {
  top: 20px;
  right: 38px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: #687777;
  outline: 3px solid #d6d6d6;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut2 .dataOne .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
}


.doungut2 .dataOne:after {
  content: '';
  display: block;
  width: 25px;
  height: 0px;
  border: 1px dashed #687777;
  top: 5px;
  position: absolute;
  right: 15px;
}

.doungut2 .dataOne:before {
  content: "";
  width: 54px;
  height: 0px;
  border: 1px dashed #687777;
  transform: rotate(-25deg);
  position: absolute;
  top: 17px;
  right: 38px;
}

/*dataTwo*/
.doungut2 .dataTwo {
  top: 20px;
  left: 60px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: #2c2b2b;
  outline: 3px solid #d3d3d3;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut2 .dataTwo .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
}


.doungut2 .dataTwo:after {
  content: '';
  display: block;
  width: 25px;
  height: 0px;
  border: 1px dashed #2c2b2b;
  top: 5px;
  position: absolute;
  left: 15px;
}

.doungut2 .dataTwo:before {
  content: "";
  width: 54px;
  height: 0px;
  border: 1px dashed #2c2b2b;
  transform: rotate(26deg);
  position: absolute;
  top: 17px;
  left: 38px;
}

/* data three */
.doungut2 .dataThree {
  top: 40%;
  right: 27px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: #e2211c;
  outline: 3px solid #f7e0e0;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut2 .dataThree .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
}

.doungut2 .dataThree:after {
  content: '';
  display: block;
  width: 60px;
  height: 0px;
  border: 1px dashed #E2211C;
  top: 5px;
  position: absolute;
  right: 15px;
}

/* data Four */
.doungut2 .dataFour {
  top: 40%;
  left: 39px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: #c1636c;
  outline: 3px solid #f7e0e0;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut2 .dataFour .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
}

.doungut2 .dataFour:after {
  content: '';
  display: block;
  width: 49px;
  height: 0px;
  border: 1px dashed #c1636c;
  top: 5px;
  position: absolute;
  left: 15px;
}


/*dataFive*/

.doungut2 .dataFive {
  bottom: 77px;
  right: 60px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: #e85a56;
  outline: 3px solid #fddada;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut2 .dataFive .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
  transform: translate(33px, -20px);
}


.doungut2 .dataFive:after {
  content: '';
  display: block;
  width: 25px;
  height: 0px;
  border: 1px dashed #e85a56;
  top: 4px;
  position: absolute;
  right: 15px;
}

.doungut2 .dataFive:before {
  content: "";
  width: 54px;
  height: 0px;
  border: 1px dashed #e85a56;
  transform: rotate(199deg);
  position: absolute;
  top: -4px;
  right: 34px;
}



/*dataSix*/

.doungut2 .dataSix {
  bottom: 74px;
  left: 62px;
  font-size: 20px;
  width: 5px;
  height: 5px;
  background: #cc8683;
  outline: 3px solid #fddada;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
  display: block;
}

.doungut2 .dataSix .data {
  font-size: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  margin-top: 10px;
  font-weight: bold;
  transform: translate(-12px, -20px);
}


.doungut2 .dataSix:after {
  content: '';
  display: block;
  width: 25px;
  height: 0px;
  border: 1px dashed #cc8683;
  top: 6px;
  position: absolute;
  left: 15px;
}

.doungut2 .dataSix:before {
  content: "";
  width: 54px;
  height: 0px;
  border: 1px dashed #cc8683;
  transform: rotate(-18deg);
  position: absolute;
  top: 0px;
  left: 31px;

}

#search-report {
  background-color: #e9e9e9 !important;
  height: 31px;

}

.auth-links a,
.report-links a {
  padding: 5px;
  font-size: 15px;
  font-weight: 900;
  position: relative;
  transition: 0.3s;
}

.auth-links a.active,
.auth-links a:hover,
.report-links a.active,
.report-links a:hover {
  color: var(--red-color);
}

.auth-links a.active::after,
.auth-links a:hover::after,
.report-links a.active::after,
.report-links a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 90%;
  height: 5px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--red-color);
  right: 4px;
}

.auth-links a {
  font-size: 14px !important;
  font-weight: 100 !important;
}

.attached {
  position: relative;
}

.researcher-image {
  height: 70px;
  width: 70px;
  margin-left: 10px;
}

.researcher-info .user {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.researcher-info .detail-box {
  margin-left: 10px;
}

.researcher-info .name {
  font-size: 14px;
  font-weight: normal;
  color: #7b7890;
  text-wrap: nowrap;
  white-space: nowrap;
}

.researcher-info .data {
  font-size: 15px;
  font-weight: bold;
  color: var(--red-color);
}

.user-details {
  position: relative;
}

.user-details .auth-number {
  position: absolute;
  left: 0px;
  top: 16px;
  background: var(--red-color);
  padding: 6px;
  color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-left: 10px;
}

.user-details .auth-number p {
  font-size: 13px;
}

.attached .icon {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  position: absolute;

}

.auth-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
}

.auth {
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 10px !important
}

.auth hr {
  margin: 10px 0px;
  color: gray;
}

#auth-details .sub-header {
  gap: 5px;
}

#auth-details .sub-header .btn {
  flex: unset;
}

.complete {
  color: #2CCB36 !important;
}

.taf button {
  background-color: var(--gray-color);
  color: white;
}

.taf button a {
  color: white;
}

#cancel:hover {
  color: black !important;
}

#user-notification .image {
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}

#user-notification p {
  font-size: 14px;
}

#user-notification .card-box {
  transition: 0.3s;
}

#user-notification .card-box:hover {
  transform: scale(1.01);
}

#user-notification button:focus {
  border: none !important;
}

#noti .noti-time {
  position: relative;
}

#noti .noti-time .icon {
  position: absolute;
  top: 10px;
  left: 15px;
}

.performance {
  margin-right: 5px;
  padding: 0px 10px;
  background: #01A811;
  font-size: 12px;
  color: white;
}

.performance .icon {
  color: goldenrod;
}


.taf p {
  display: inline;
  background: #E85A56;
  padding: 7px 10px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
}

.message {
  text-overflow: ellipsis;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}



span.dataOne.addTwo {
  left: 0;
  right: auto;
  bottom: 3rem;
  top: auto;
}

.doungut1.addTwo:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
  display: inline-block;
  outline: 3px solid #dedede;
  padding: 6px;
  border-radius: 50%;
  margin-right: 10px;
}

.doungut1.addTwo:after {
  content: none;
}

span.percentage-2:before,
span.percentage-2:after {
  content: "";
  width: 30px;
  height: 0px;
  border: 1px dashed #000;
  transform: rotate(-2deg);
  position: absolute;
  top: 12px;
  left: 52px;
}

span.percentage-2:after {
  left: 5rem;
  transform: rotate(-24deg);
  bottom: 2rem;
  top: auto;
  width: 5rem;
}

span.dataOne.addThree {
  left: 0;
  right: auto;
  bottom: auto;
  top: 0;
}

.addThree span.percentage-2:before,
.addThree span.percentage-2:after {
  border-color: var(--main)
}

.addThree:before {
  background: var(--main) !important;
  outline-color: #D8A7A3 !important;
}

span.percentage-3:before,
span.percentage-3:after {
  transform: rotate(-22deg);
  top: 9px;
  left: 49px;
}

span.percentage-3:after {
  left: 5rem;
  transform: rotate(10deg);
  bottom: 1rem;
}


/*end home */

/* start company */
.company .card-box {
  height: 170px;
  transition: 0.3s;

}

.company .card-box:hover {
  transform: scale(1.05);
}

.company .card-box .icon {
  width: 70px;
  height: 70px;
}

/* end company */

/* start company money */
#company-money table tbody tr {
  cursor: pointer;
}

#company-money table tbody tr:hover td {
  background-color: rgb(223, 223, 223) !important;
}

#company-money table tbody tr td a {
  color: var(--gray-color);
  font-size: 14px;
}

/* end company money */

/* start report */
#report table .icon {
  cursor: pointer;
}

.report-inactive {
  color: white !important;
  background-color: #E85A56 !important;
  padding: 5px 10px !important;
  font-size: 12px !important;
}

.report-active {
  color: white !important;
  background-color: #2CCB36 !important;
  padding: 5px 20px !important;
  font-size: 12px !important;
}

/* end report */

/* start report parts */
#create-part .form-check-label {
  font-size: 14px;
  padding-right: 30px;
}

#next-part .box {
  background: #EFEEEE;
  padding: 5px;
  border-radius: 8px;
  font-size: 12px;
}

#next-part .box:focus {
  border-color: var(--red-color) !important;
}

/* end report parts */


/* start notification */
.notifications .noti-nav {
  color: black;
  font-family: "main font";
  cursor: pointer;
}

.notification-search {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.notification-search .search {
  width: 150px;
  position: relative;
}

.notification-search .search input {
  padding-left: 30px;
  border-radius: 8px;
  border: none;
  border-radius: 8px;
}

.notification-search .search input:focus {
  outline: none;
  box-shadow: none;

}

.notification-search .search .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px !important;
  color: gray;
}

.notification-search .filter {
  background-color: white;
  border-radius: 8px !important;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;

}

.notification-search .filter-by {
  position: relative;
}

.notification-search .filter-by .icon {
  transform: rotate(90deg);
}

.notification-search .filter-by .filter-menu {
  position: absolute;
  top: 35px;
  right: 0px;
  z-index: 100;
}

.notification-search .sort-by {
  position: relative;
}

.notification-search .sort-by .sort-menu {
  position: absolute;
  top: 36px;
  right: 0px;
  z-index: 100;
}

.filter-menu ul,
.sort-menu ul {
  position: relative;
  list-style: none;
  flex-direction: column;
  min-width: 200px;
  background-color: white;

  gap: 3px;
  border-radius: 8px;
  margin: 0px;
  padding: 10px 0px !important;
}

.filter-menu ul li,
.sort-menu ul li {
  color: black;
  font-family: "main font";
  color: #7B7890;
  font-size: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.filter-menu ul a,
.sort-menu ul a {
  margin: 0px;
  padding: 0px;
}

.filter-menu ul a:hover,
.sort-menu ul a:hover {
  background-color: #f1f1f1;
}

.notification-table {
  padding: 0px;
}

.notification-table .table-responsive {
  border-radius: 15px;
}

.notification-table table thead,
.notification-table table tbody tr:hover {
  background-color: #F5F6FA;
}

.notification-table table tbody tr {
  cursor: pointer;
  font-family: "main font";
  font-weight: 300;
}

.notification-table table tbody .status {
  padding: 5px 20px;
  border-radius: 50%;
  font-weight: 500;
  margin-right: 5px;
}

.notification-table table tbody .readed {
  color: #66bb6a;
  background-color: #ebf6ec;
}

.notification-table table tbody .not-readed {
  color: #a61d40;
  background-color: #f3e2e2;
}

#viewUser {
  font-family: "main font";
}

#viewUser .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
}

#viewUser .user-info h5 {
  font-size: 20px;
  margin-bottom: 0px;
}

#viewUser .user-info span {
  font-size: 15px;
  margin-bottom: 0px;
  color: #7B7890;
}

#viewUser .contact-details .contact-box {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7B7890;
  font-size: 13px;
}

#viewUser .contact-details .contact-box p {
  margin-bottom: 0px;
  color: #7B7890;
}

#viewUser .contact-details .contact-box a {
  margin-right: 10px;
  font-size: 18px;
}

#viewUser table thead {
  background-color: #F5F6FA;
}

#viewUser table tbody tr {
  color: #7B7890;
  font-size: 15px;
  font-family: 'main font';
}

/* end notification */

.low-btn {
  transition: 0.3s;
  -webkit-filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
  min-width: 200px;
}

.low-btn:focus {
  border: none !important;
}

.low-btn:hover {
  transform: scale(1.05);
}

.view-files {
  -webkit-filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));

}

h6 {
  font-size: 12px !important;
}

.c-shadow {
  box-shadow: 0px 2px 4px 0px #8080804d;
}

table .t-trans {
  background-color: transparent !important;
  color: #000 !important;
}

table .first-cell {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

table .last-cell {

  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important
}

table .cell {
  -webkit-filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
  filter: drop-shadow(0px 3px 1.5px rgba(0, 0, 0, 0.16));
  border: 1px solid white !important;
  font-size: 15px;
  font-weight: 900;
}

.border-space {
  border-collapse: separate;
  border-spacing: 0 15px;
}

table .file {
  height: 30px;
  height: 30px;
}

.incomplete {
  font-size: 14px;
  border-radius: 15px;
  color: white;
  background-color: #E85A56;
  display: inline;
  padding: 3px 10px;
}

.complete-kpi {
  font-size: 14px;
  border-radius: 15px;
  color: white;
  background-color: #01A811;
  display: inline;
  padding: 3px 10px;
}

#tasks-table .complete-kpi,
#tasks-table .incomplete {
  padding: 3px 14px;
}

.w-120 {
  width: 120px;
}

.w-100px {
  width: 100px !important;
}

.flex-unset {
  flex: unset;
}

.blur-background {
  backdrop-filter: blur(5px);
}

input.place-black::placeholder {
  color: black !important;
}

#kpi-date-icon {
  top: 6px;
  left: -1px;
  color: #848484;
}

.pendding {
  font-size: 14px;
  border-radius: 15px;
  color: white;
  background-color: #1587eb;
  display: inline;
  padding: 3px 10px;
  text-wrap: nowrap;
  white-space: nowrap;
}

.details {
  font-size: 14px;
  border-radius: 15px;
  color: white;
  background-color: #9EA8A9;
  display: inline;
  padding: 3px 10px;
}

.kpi-date {
  width: 120px;
  font-size: 12px;
  background: #e9e9e9;
  height: 30px;
}

#kpi-order-serach input {
  min-width: 103px;
}

.float-left-sm {
  width: unset;
  display: flex;

}



.right-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.left-btns {
  text-align: end;
  flex: 1;
}

.select2-container {
  height: 37px;
}

.select2-container--default .select2-selection--single {
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  height: 100% !important;
  font-size: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0px;
}


#sub-header-reports {
  flex: 1;
  justify-content: flex-end;
}

#send-report .select2-container {
  margin-bottom: 10px;
}

#send-report .image {
  display: inline-block;
  padding: 5px 8px;
  background: gainsboro;
  border-radius: 25px;
}

.green-btn {
  background-color: #01A811;
}

.green-btn:hover {
  background-color: #01A811;
  color: white;
  cursor: none;
}

.apply button {
  font-size: 12px;
  padding: 0px 15px;
  color: white;
}

.apply .gray-btn {
  background-color: #9c9c9c;
}

.file-name {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 50%;
  background: gainsboro;
  border-radius: 8px;
  padding-right: 10px;
}


.file-name p {
  font-size: 12px;
  height: 20px;
}

.file-name .size {
  font-size: 9px;
  color: var(--gray-color);
  height: 30px;
}

.rounded-green {
  padding: 5px 17px;
  background: #01A811;
  color: white;
  border-radius: 25px;
}

.notification {
  width: 20px;
  display: flex;
}

.modal-content {
  border-radius: 15px !important;
}

input[type="date"] {
  direction: rtl;
  text-align: right;
  height: 37px;
}

.relative {
  position: relative;
}

.absolute-date-icon {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #cecece;
}

.c-border-black {
  border: 1px solid darkgrey;
}

/* ........................Responsive.........................  */
/*small screen*/

@media(min-width:574px) {
  #view-files {
    flex: unset !important;
  }
}

@media(max-width:2057px) {

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 20%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 20%;
  }

  .doungut2 .dataThree {
    right: 16%;
  }

  .doungut2 .dataFour {
    left: 20%;
  }

  .doungut2 .dataFive {
    right: 20%;
  }

  .doungut2 .dataSix {
    left: 20%;
  }
}


@media(max-width:1600px) {

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 13%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 13%;
  }

  .doungut2 .dataThree {
    right: 8%;
  }

  .doungut2 .dataFour {
    left: 10%;
  }

  .doungut2 .dataFive {
    right: 13%;
  }

  .doungut2 .dataSix {
    left: 20%;
  }
}


@media(max-width:1201px) {

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 0%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 0%;
  }

  .doungut2 .dataThree {
    right: -18px;
  }

  .doungut2 .dataFour {
    left: 1%;
  }

  .doungut2 .dataFive {
    right: 5%;
  }

  .doungut2 .dataFive:before {
    width: 39px;
    top: -2px;
    right: 33px;
  }

  .doungut2 .dataSix {
    left: 12%;
  }
}

@media(max-width:1025px) {

  .doungut1 .dataTwo {
    left: 2%;
    bottom: 41%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 0%;
  }

  .doungut2 .dataThree {
    right: -18px;
  }

  .doungut2 .dataFour {
    left: -2%;
  }

  .doungut2 .dataFive {
    right: 5%;
    bottom: 40%;
  }

  .doungut2 .dataFive:before {
    width: 39px;
    top: -2px;
    right: 33px;
    display: none;
  }

  .doungut2 .dataSix {
    left: 12%;
    bottom: 37%;
  }
}

@media(max-width:993px) {

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 26%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 26%;
  }

  .doungut2 .dataThree {
    right: 20%;
  }

  .doungut2 .dataFour {
    left: 20%;
  }

  .doungut2 .dataFive {
    right: 23%;
    bottom: 22%;

  }

  .doungut2 .dataFive:before {
    width: 39px;
    top: -2px;
    right: 33px;
    display: block;
  }

  .doungut2 .dataSix {
    left: 23%;
    bottom: 22%;
  }

  .report-links a {
    font-size: 12px !important;
  }


  .report-links a.active::after,
  .report-links a:hover::after {
    width: 85%;
    height: 4px;
  }

  h2 {
    font-size: 18px;
  }


}

@media (max-width: 769px) {

  .t-header {
    padding: 8px 5px !important;
    font-size: 12px;
  }

  #logo-header {
    height: 95px;
  }

  .main-content.card {
    padding-top: 7px !important;
  }

  .menu-title {
    align-self: end;
    margin-bottom: 6px;
  }

  .home .toggle-btn {
    align-self: center;
  }

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 26%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 26%;
  }

  .doungut2 .dataThree {
    right: 25%;
  }

  .doungut2 .dataFour {
    left: 25%;
  }

  .doungut2 .dataFive {
    right: 30%;
    bottom: 22%;

  }

  .doungut2 .dataFive:before {
    width: 39px;
    top: -2px;
    right: 33px;
    display: block;
  }

  .doungut2 .dataSix {
    left: 30%;
    bottom: 22%;
  }

  #logo img {
    position: absolute;
    width: 50%;
    right: 10px;
    top: 7px;
    height: 50px;
  }

  .home {
    flex-direction: column;
  }

  .open-menu {
    display: block !important;
  }

  .close-menu {
    display: none !important;
  }


  #sidebar.expand {
    width: 100% !important;
    height: auto !important;
    margin-right: 0px;
    padding: 0px 10px;
  }

  .map {
    flex-direction: column;
  }

  .email .header-nav .card-box .btn-create {
    flex: 1;
    min-width: 130px;
  }
}

@media (max-width: 601px) {
  .login-logo {
    width: 70%;
  }

  .table tbody tr td a {
    font-size: 12px;
  }

  #company-money .table tbody tr td a {
    font-size: 12px;
  }

  .float-left-sm {
    display: flex;
    justify-content: flex-end
  }

  .float-left-sm .btn {
    flex: unset;
  }

  .right-btns {
    width: 100%;
  }

  .docs-btns {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .auth-btns {
    width: 100%;
  }

}

@media(max-width:576px) {

  .modal.show .modal-dialog {
    justify-content: center;
  }

  .modal-content {
    width: 70%;
  }

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 22%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 22%;
  }

  .doungut2 .dataThree {
    right: 15%;
  }

  .doungut2 .dataFour {
    left: 15%;
  }

  .doungut2 .dataFive {
    right: 20%;
    bottom: 22%;

  }

  .doungut2 .dataSix {
    left: 20%;
    bottom: 22%;
  }


}

@media(max-width:501px) {
  #report-parts .btns {
    flex: none;
  }

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 8%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 8%;
  }

  .doungut2 .dataThree {
    right: 10%;
  }

  .doungut2 .dataFour {
    left: 10%;
  }

  .doungut2 .dataFive {
    right: 11%;
  }

  .doungut2 .dataSix {
    left: 17%;
  }

  h3 {
    font-size: 13px !important;
  }

  h4 {
    font-size: 12px;
  }

  .menu-title .icon {
    font-size: 13px !important;
  }

  .home a.sidebar-link {
    font-size: 12px !important;
  }

  .home a.sidebar-link .icon {
    font-size: 12px;
  }

  .filter-section .first-section,
  .filter-section .last-section {
    flex: 1;
  }

  .projection-table .header .title {
    font-size: 15px;
  }

  .arrow {
    min-width: 100px;
  }

  .arrow a {
    font-size: 10px;
  }

  .notification-search .search {
    flex: 1 !important;
  }

  .login button {
    width: 100%;
    display: block;
  }

  .notification-search .sort-by .sort-menu {
    right: -100% !important;
  }

  .search-field {
    flex: 1;
  }

  .btns {
    flex: 1;
  }

}



@media(max-width:500px) {



  .user-details {
    flex-direction: column;
    align-items: flex-start !important;
  }

  #auth-details .auth-btns .btn {
    flex: 1;
  }

  .background .title {
    font-size: 20px !important;
    margin-bottom: 15px !important;
  }

  h1 {
    font-size: 20px !important;
  }

  h2 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .smart-login {
    display: flex;
  }

  .login-logo {
    width: 65%;
  }

  .background .content .smart-login .icon {
    width: 40px;
    height: 40px;
  }

  .login-box .login-icon {
    font-size: 18px !important;
  }

  .background .content .smart-login .click {
    font-size: 14px;
  }

  #login-btn {
    font-size: 12px;
  }

  .float-left-sm .btn {
    flex: 1;
  }

}

@media(max-width:427px) {

  .view-files {
    font-size: 12px !important;
  }

  .main-department {
    font-size: 12px !important;
  }

  .select2-container {
    height: 30px;
  }

  #mood {
    height: 29px;
  }

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 8%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 8%;
  }

  .doungut2 .dataThree {
    right: 10%;
  }

  .doungut2 .dataFour {
    left: 10%;
  }

  .doungut2 .dataFive {
    right: 11%;
    bottom: 30%;
  }

  .doungut2 .dataSix {
    left: 17%;
    bottom: 30%;
  }

  .btn {
    font-size: 10px;
    flex: 1;
  }

  .float-left-sm .btn {
    flex: 1;
  }

  .left-btns {
    display: flex;
  }

  .file-name {
    width: 100%;
  }

  #logo img {
    width: 75% !important;
  }
}


@media(max-width:401px) {

  .background .title {
    font-size: 16px !important;
    margin-bottom: 13px !important;
  }
}

@media(max-width:377px) {
  .kpi-date {
    width: 100% !important;
  }

  #kpi-search {
    width: 100% !important;
  }

  .modal.show .modal-dialog {
    justify-content: center;
  }

  .modal-content {
    width: 100%;
  }

  .date-nightMood {
    flex: 1;
  }

  .modal-footer .btn {
    width: 100px;
    flex: unset;
  }

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 0%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 5%;
  }

  .doungut2 .dataThree {
    right: 0%;
  }

  .doungut2 .dataFour {
    left: 5%;
  }

  .doungut2 .dataFive {
    right: 11%;
    bottom: 30%;
  }

  .doungut2 .dataSix {
    left: 17%;
    bottom: 30%;
  }

  .company .card-box .icon {
    width: 50px;
    height: 60px;
  }

  .company .card-box a h2 {
    font-size: 12px !important;
  }

  .btns button {
    font-size: 10px;
    width: auto;

  }

  .last-btn {
    width: 100%;
    display: flex;
    gap: 5px;
  }

  .folder {
    width: 100%;
  }
}

@media(max-width:321px) {

  #sort-by {
    flex: 1;
  }

  .doungut1 .dataOne,
  .doungut2 .dataOne {
    right: 0%;
  }

  .doungut1 .dataTwo,
  .doungut2 .dataTwo {
    left: 0%;
  }

  .doungut2 .dataThree {
    right: -8%;
  }

  .doungut2 .dataFour {
    left: 5%;
  }

  .doungut2 .dataFive {
    right: 11%;
    bottom: 30%;
  }

  .doungut2 .dataSix {
    left: 17%;
    bottom: 30%;
  }


  #add-message-btn {
    flex: 1 !important;
  }



  #sub-header-reports div,
  #sub-header-reports button {
    flex: 1 !important;
  }

  #send-report-button div,
  #send-report-button button {
    flex: 1 !important;
  }
}